In [1]:
pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\prince_singh04\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
from mysql.connector import Error

try:
    # Establishing the connection
    conn = mysql.connector.connect(user='root', password='123', host='localhost')

    if conn.is_connected():
        print("Successfully connected to the database server")

        # Creating a cursor object using the cursor() method
        cursor = conn.cursor()

        # Dropping the database if it exists
        cursor.execute("DROP DATABASE IF EXISTS NEWSINFO")
        print("Database `NEWSINFO` dropped successfully")

        # Preparing query to create a database
        sql = "CREATE DATABASE NEWSINFO"

        # Creating a database
        cursor.execute(sql)
        print("Database `NEWSINFO` created successfully")

except Error as e:
    print(f"Error: {e}")

Successfully connected to the database server
Database `NEWSINFO` dropped successfully
Database `NEWSINFO` created successfully

In [4]:
# Retrieving the list of databases
print("LIst of databases: ")
cursor.execute("SHOW DATABASES")
print(cursor.fetchall())

LIst of databases:
[('coffee shop store',), ('information_schema',), ('mysql',), ('newsinfo',), ('performance_schema',), ('sql_joins',), ('sql_workbench',), ('sys',)]

In [5]:
# selected database for creating a table
cursor.execute("USE NEWSINFO")

# Dropping news table if exists.
cursor.execute("DROP TABLE IF EXISTS NEWS")

# Creating  table as per requirement.
create_news_table = """ CREATE TABLE NEWS(
                newsid INT AUTO_INCREMENT PRIMARY KEY,
                portalid INT NOT NULL,
                town VARCHAR(255) NOT NULL,
                news TEXT NOT NULL,
                date DATE NOT NULL
    )"""
cursor.execute(create_news_table)
print("Table `news` created successfully")

# Dropping kf_docmnt table if exists.
cursor.execute("DROP TABLE IF EXISTS kf_docmnt")

create_kf_docmnt_table= """CREATE TABLE kf_docmnt(
                kfid INT AUTO_INCREMENT PRIMARY KEY,
                portalid INT NOT NULL,
                town VARCHAR(255) NOT NULL,
                news TEXT NOT NULL,
                date DATE NOT NULL
                )"""

cursor.execute(create_kf_docmnt_table)
print("Table `kf_docmnt` created successfully")

Table `news` created successfully
Table `kf_docmnt` created successfully

In [6]:
from mysql.connector import Error

try:
    # Use the existing connection
    if conn.is_connected():
        print("Successfully connected to the database server")
        
        # Creating a cursor object using the cursor() method
        cursor = conn.cursor()
        
        # Inserting 5 rows into the `news` table with data from Indian cities
        insert_news_data = """
        INSERT INTO news (portalid, town, news, date) VALUES
        (%s, %s, %s, %s)
        """
        news_data = [
            (1, 'Delhi', 'Delhi government announces new policies.', '2024-09-01'),
            (2, 'Mumbai', 'Mumbai sees a rise in local events this month.', '2024-09-02'),
            (3, 'Bengaluru', 'Tech startups in Bengaluru receive new funding.', '2024-09-03'),
            (4, 'Chennai', 'Chennai faces heavy rainfall this week.', '2024-09-04'),
            (5, 'Kolkata', 'Kolkata hosts an international film festival.', '2024-09-05')
        ]
        
        try:
            cursor.executemany(insert_news_data, news_data)
            conn.commit()  # Commit the transaction
            print("5 rows of data inserted into `news` table")
        except Error as insert_error:
            print(f"Error while inserting data: {insert_error}")
            conn.rollback()  # Rollback the transaction if there's an error

except Error as e:
    print(f"Error: {e}")

Successfully connected to the database server
5 rows of data inserted into `news` table

In [7]:
# Retrieving rows from the `news` table
select_query = "SELECT * FROM news"

# Executing the query
cursor.execute(select_query)

# Fetching all rows from the table
results = cursor.fetchall() 
for row in results:
        print(row)

(1, 1, 'Delhi', 'Delhi government announces new policies.', datetime.date(2024, 9, 1))
(2, 2, 'Mumbai', 'Mumbai sees a rise in local events this month.', datetime.date(2024, 9, 2))
(3, 3, 'Bengaluru', 'Tech startups in Bengaluru receive new funding.', datetime.date(2024, 9, 3))
(4, 4, 'Chennai', 'Chennai faces heavy rainfall this week.', datetime.date(2024, 9, 4))
(5, 5, 'Kolkata', 'Kolkata hosts an international film festival.', datetime.date(2024, 9, 5))

In [8]:
# Retreving rows from the `news` table
select_query= "SELECT * FROM news"

# Execute the query
cursor.execute(select_query)

# Fetching all rows from the table
results =cursor.fetchall()

# Query to insert data into the `kf_docmnt` table

insert_query ="""
INSERT INTO kf_docmnt (portalid, town, news, date)
VALUES (%s, %s, %s, %s)
"""

# Loop through each row from `news` and insert into `kf_docmnt`
for row in results:
    cursor.execute (insert_query, (row[1], row[2], row[3], row[4])) # Assuming columns match in order
    conn.commit() # commit each insert
print("Data transferred successfully from `news` to `kf_docmnt`")

Data transferred successfully from `news` to `kf_docmnt`

In [9]:
# Retrieving rows from the `kf_docmnt` table
select_query = "SELECT * FROM kf_docmnt"

# Executing the query
cursor.execute(select_query)

# Fetching all rows from the table
results = cursor.fetchall() 
for row in results:
        print(row)

(1, 1, 'Delhi', 'Delhi government announces new policies.', datetime.date(2024, 9, 1))
(2, 2, 'Mumbai', 'Mumbai sees a rise in local events this month.', datetime.date(2024, 9, 2))
(3, 3, 'Bengaluru', 'Tech startups in Bengaluru receive new funding.', datetime.date(2024, 9, 3))
(4, 4, 'Chennai', 'Chennai faces heavy rainfall this week.', datetime.date(2024, 9, 4))
(5, 5, 'Kolkata', 'Kolkata hosts an international film festival.', datetime.date(2024, 9, 5))

In [10]:
#closing the connection
conn.close()